menu "BoundBox"

  config ROOT_USERNAME
    string "Root username"
    default "root"

  config ROOT_KEY
    string "Root user authorized key"
    default ""

  choice HOSTKEY_TYPE
    prompt "Default host key type"
    default HOSTKEY_TYPE_ED25519

    config HOSTKEY_TYPE_RSA
      bool "RSA (may be broken, not tested)"

    config HOSTKEY_TYPE_ECDSA
      bool "ECDSA (may be broken, not tested)"

    config HOSTKEY_TYPE_ED25519
      bool "ED25519"

  endchoice

  config HOSTKEY_RSA_BITS
    int "RSA key bits"
    default 2048
    depends on HOSTKEY_TYPE_RSA

  config HOSTKEY_ECDSA_BITS
    int "ECDSA key bits"
    default 256
    depends on HOSTKEY_TYPE_ECDSA

  config SECRET_KEY_SIZE
    int "Default secret key size"
    default 32

  config PIN_VERIFICATION_SALT
    string "PIN verification salt"
    default "BoundBoxVerify"

  config SSHD_TASK_STACK_SIZE
    int "SSHD task stack size"
    default 32768

  config COMMAND_BUFFER_SIZE
    int "Command buffer size"
    default 16384

  config SHUTDOWN_ON_ASSERT
    bool "Use shutdown instead of assert (board will be available after manual rst)"
    default false

  config DEFAULT_RESTART_DELAY_MS
    int "Default restart delay (ms)"
    range 0 100000
    default 2000

  config DUMPABLE_SECRETS
    bool "Allow to read secrets by sysops"
    default false

  config HMAC_MIN_SALT_LEN
    int "Minimum salt len for HMAC secrets"
    range 1 256
    default 16

endmenu
