menu "BoundBox Hardware"

  menuconfig BBHW_HAS_ETH
    bool "Setup Ethernet"
    default y

  if BBHW_HAS_ETH

  config BBHW_ETH_PHY_ADDR
    int "Ethernet phy addr"
    range 0 46
    default 1

  config BBHW_ETH_SPI_CLOCK_MHZ
    int "Ethernet spi clock (MHz)"
    default 36

  config BBHW_ETH_CS_GPIO
    int "Ethernet CS gpio"
    range 0 46
    default 10

  config BBHW_ETH_INT_GPIO
    int "Ethernet INT gpio"
    range 1 46
    default 14

  config BBHW_ETH_RST_GPIO
    int "Ethernet RST gpio"
    range 1 46
    default 15

  endif # BBHW_HAS_ETH

  menuconfig BBHW_SPI_SETUP_SPI
    bool "Setup SPI"
    default y if BBHW_HAS_ETH

  if BBHW_SPI_SETUP_SPI

  choice BBHW_SPI_HOST
    prompt "SPI Host id to use"
    default BBHW_USE_SPI3_HOST

    config BBHW_USE_SPI2_HOST
      bool "SPI2_HOST"

    config BBHW_USE_SPI3_HOST
      bool "SPI3_HOST"
  endchoice

  config BBHW_SPI_HOST_ID
    int
    default 1 if BBHW_USE_SPI2_HOST
    default 2 if BBHW_USE_SPI3_HOST

  config BBHW_SPI_MOSI_GPIO
    int "Peripheral MOSI gpio"
    range 0 46
    default 11

  config BBHW_SPI_MISO_GPIO
    int "Peripheral MISO gpio"
    range 0 46
    default 13

  config BBHW_SPI_SCLK_GPIO
    int "Peripheral SCLK gpio"
    range 0 46
    default 12

  endif # BBHW_SPI_SETUP_SPI

endmenu
