menu "SSH"

  config SSH_SERVER_PORT
    int "Server port to listen to"
    range 0 32000
    default 22

  config SSH_SERVER_BACKLOG
    int "Socket backlog size"
    range 1 46
    default 5

  config SSH_HIGHWATER_MARK
    int "Highwater mark"
    default 1073709056

  config SSH_STREAM_BUFFER_SIZE
    int "Stream buf size"
    default 4096

  config SSH_STREAM_POLL_TIMEOUT
    int "Stream buf size"
    default 100

  config SSH_STREAM_READ_TIMEOUT
    int "Stream buf size"
    default 5000

  config SSH_CHANNEL_INITIAL_WINDOW
    int "Channel initial window"
    default 1024

  config SSH_CHANNEL_MAX_PACKET_SIZE
    int "Channel max packet size"
    default 32768

  config SSH_AUTH_RETRIES
    int "Auth retries"
    default 10

endmenu
